<style>

@media screen and (max-width: 768px) 
{ 
.split left, .split right { 
height:100vh;
} 
}


.box{
        color: #ff;
        padding: 0px;
        display: none;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .33000{ background: #fff; }
    .49000{ background: #fff; }
    .blue{ background: #fff; }



.button {
    display: block;
    width: 300px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration:none;
    font-size: 20px;
}

.btn {-webkit-tap-highlight-color: rgba(0,0,0,0);
--swiper-theme-color: #007aff;
--swiper-navigation-size: 44px;
overflow-wrap: normal;
word-break: keep-all;
text-size-adjust: none;
box-sizing: border-box;
font: inherit;
overflow: visible;
font-family: inherit;
text-transform: none;
-webkit-appearance: button;
color: #fff;
background-color: #FF4FA7!important;
padding: 20px 150px!important;
font-size: 24px!important;
line-height: 1.3333333!important;
border-radius: 10px!important;
margin-top: 30px;
margin-bottom: 0;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
user-select: none;
background-image: none;
border: 1px solid transparent;
display: block;
margin-right: auto;
margin-left: 0;
}

.option_list {user-select: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
--swiper-theme-color: #007aff;
--swiper-navigation-size: 44px;
overflow-wrap: normal;
word-break: keep-all;
white-space: normal;
text-size-adjust: none;
font-family: NotoSansKR, ����, Dotum, ����, Gulim, Tahoma, Verdana, Geneva, sans-serif !important;
font-weight: 400;
line-height: 1.42857143;
color: #353535;
text-align: left;
font-size: 0.95em;
box-sizing: border-box;
vertical-align: baseline;
border: 0;
outline: 0;
display: inline-block;
padding: 10px 10px 10px 0;
width: 100%;
margin: 0 auto;
padding-top: 0px;
padding-bottom: 0;
}

.option_list {user-select: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
--swiper-theme-color: #007aff;
--swiper-navigation-size: 44px;
overflow-wrap: normal;
word-break: keep-all;
white-space: normal;
text-size-adjust: none;
font-family: NotoSansKR, ����, Dotum, ����, Gulim, Tahoma, Verdana, Geneva, sans-serif !important;
font-weight: 400;
line-height: 1.42857143;
color: #353535;
text-align: left;
font-size: 0.95em;
box-sizing: border-box;
vertical-align: baseline;
border: 0;
outline: 0;
display: inline-block;
padding: 10px 10px 10px 0;
width: 100%;
margin: 0 auto;
padding-top: 0px;
padding-bottom: 0;
}

#payment_type {user-select: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
--swiper-theme-color: #007aff;
--swiper-navigation-size: 44px;
overflow-wrap: normal;
word-break: keep-all;
text-size-adjust: none;
padding: 0;
box-sizing: border-box;
font: inherit;
color: inherit;
line-height: inherit;
font-family: inherit;
font-size: 100%;
margin: 0;
text-transform: none;
margin-bottom: 10px;
select
}


#Join_op {user-select: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
--swiper-theme-color: #007aff;
--swiper-navigation-size: 44px;
overflow-wrap: normal;
word-break: keep-all;
text-size-adjust: none;
padding: 0;
box-sizing: border-box;
font: inherit;
color: inherit;
line-height: inherit;
font-family: inherit;
font-size: 100%;
margin: 0;
text-transform: none;
margin-top: 10px;
margin-left: 5px;
select
}


body {
  font-family: Arial;
  color: black;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
</style>
